.header{
    position: sticky;
    top: 0;
    min-height: 80px;
    width: 80%;
    background-color: #141414;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-left: 40px;
}
.header-links{
  
    display: flex;
}
.header-links ul li{
    list-style: none;
    display: inline-block;
    font-size: 18px;
}
.header-links ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 15px;
    text-transform: uppercase;
}
.header .header-links ul li a:hover{
    color: #fcf82d;
}
.header1 .header-links ul li a:hover{
    color: #fcf82d;
}
.iconbar{
    display: none;
}
@media(max-width:767px) {
    .logo{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        padding-left: 20px;
        font-size: 15px;
        font-weight: 400;
    }
    .iconbar{
        position: absolute;
        top: 30px;
        right: 100px;
        color: white;
        width: 25px;
        display: block;
        cursor: pointer;
    }
    .header .header-links ul li {
        display:none ;
    }
    .header1 .header-links{
        position: absolute;
        top: 80px;
        right: 48px;
        list-style-type: none;
        display: list-item;
        line-height:30px;
       padding: 4px;
       font-size: 1rem;
        
    }
    
    
   
}
 /*after menu clicking*/
 .header1{
    position: sticky;
    top: 0;
    height: 200px;
    width: 80%;
    background-color: #141414;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
   display: flex;
}
.header1 .header-links{
    position: absolute;
    top: 80px;
    right: 48px;
    list-style-type: none;
    /* display: list-item; */
    line-height:30px;
   padding: 4px;
   font-size: 1rem;
    
}

.header1 .header-links ul li a{
    list-style: none;
  
    font-size: 1rem;
    text-decoration: none;
color: white;
padding: 0px 15px;
text-transform: uppercase;
}

/* .cart{
    padding-right: 20px;
    margin-left: 30px;
} */

.cart-length{
   font-size: 14px;
   font-weight: 700;
   vertical-align: super;
   color: #fcf82d;
}
